doc_stru/exos/Exo7/exo7.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT doc (taggersent)+>
<!ATTLIST doc
  xmlns CDATA #FIXED ''>

<!ELEMENT taggersent (taggertoken)+>
<!ATTLIST taggersent
  xmlns CDATA #FIXED ''>

<!ELEMENT taggertoken EMPTY>
<!ATTLIST taggertoken
  xmlns CDATA #FIXED ''
  lemma CDATA #REQUIRED
  pos CDATA #REQUIRED
  wordform CDATA #REQUIRED>
